/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a, nav .brand-logo {
	color: #444;
}

p {
	line-height: 2rem;
}

.button-collapse {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

.faequipe {
	font-size: 36px;
	text-align: center;
	color: #000000;
	margin-top: 1px;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
}

.icon-block {
	padding: 0 15px;
}

#index-banner {
	min-height: 632px;
	max-height: 864px;
	position: relative;
	background-color: #0088cc;
}

.text-banner {
	padding: 15% 0;
	font-size: 6.0em;
	font-weight: 100;
	color: white;
	text-align: center;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

.bluetg {
	background-color: #0088cc !important;
}