version: '2'

services:
  site_nginx:
    environment:
      - VIRTUAL_HOST=staging.synko.com.br
      - VIRTUAL_NETWORK=stack_default
      - VIRTUAL_PORT=80
      - LETSENCRYPT_HOST=staging.synko.com.br
      - LETSENCRYPT_EMAIL=yangm97@gmail.com
    image: nginx:alpine
    networks:
      - default
      - stack_default
    restart: always
    volumes:
      - .:/usr/share/nginx/html:ro
      - ./site.conf:/etc/nginx/conf.d/default.conf:ro
  site_php:
    image: php:7-fpm-alpine
    volumes:
      - .:/usr/share/nginx/html:ro
      - ./log.conf:/usr/local/etc/php-fpm.d/zz-log.conf

networks:
  stack_default:
    external: true
