version: '2'

services:
  site_nginx:
    environment:
      - VIRTUAL_HOST=staging.synko.com.br
    image: nginx:alpine
    networks:
      - stagingstack_default
    restart: always
    volumes:
      - .:/usr/share/nginx/html:ro
      - ./site.conf:/etc/nginx/conf.d/default.conf:ro
  site_php:
    image: php:7-fpm-alpine
    networks:
      - stagingstack_default
    volumes:
      - .:/usr/share/nginx/html:ro
      - ./log.conf:/usr/local/etc/php-fpm.d/zz-log.conf

networks:
  stagingstack_default:
    external: true
