version: '2'

services:
  nginx:
    image: nginx:alpine
    networks:
      - stack_default
    restart: always
    labels:
      - "traefik.backend=production-site"
      - "traefik.enable=true"
      - "traefik.frontend.rule=Host: synko.com.br, www.synko.com.br"
      - "traefik.port=80"
    volumes:
      - .:/usr/share/nginx/html:ro
      - ./site.conf:/etc/nginx/conf.d/default.conf:ro

  php:
    image: php:7-fpm-alpine
    networks:
      - stack_default
    restart: always
    volumes:
      - .:/usr/share/nginx/html:ro
      - ./log.conf:/usr/local/etc/php-fpm.d/zz-log.conf

networks:
  stack_default:
    external: true
