version: '2'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - .:/usr/share/nginx/html:ro
      - ./site.conf:/etc/nginx/conf.d/default.conf:ro
  php:
    image: php:7-fpm-alpine
    volumes:
      - .:/usr/share/nginx/html:ro
      - ./log.conf:/usr/local/etc/php-fpm.d/zz-log.conf

# TODO: Usar template em vez de arquivo absoluto para as configurações do nginx
#   nginx:
#     image: nginx:alpine
#     volumes:
#       - ./localhost.template:/etc/nginx/conf.d/localhost.template
#     ports:
#       - "80:80"
#     environment:
#       - NGINX_HOST=localhost
#       - NGINX_PORT=80
#     command: /bin/bash -c "envsubst < /etc/nginx/conf.d/localhost.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
