.logo
{
    font-family: 'Coiny', cursive;
}

.menu
{
    border-style: none;
    box-shadow: none;
}

.margin-top
{
  margin-top: 18%;
}

.first-section
{
  text-align: center;
  text-size: 22px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;

}
.second-section
{
    text-align: center;
}

.third-section
{
  height: 110px;
  text-align: center;
  text-size: 22px;
  color: white;
}

.bots
{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.tabs .indicator {
    background-color: #0288d1;
    color:#0288d1;
}

ul.tabs > li.tab > a.active
{
  color:#0288d1;
}

.fixed-size
{
  height: 500px;
}
